html, body {
    margin: 0;
    background-color: #191919;
}
canvas {
/*    border: 1px solid #000000;*/
    margin: 5px auto;
    display: block;
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
}
img {
    display: none;
}

.metrics {
    display: block;
    position: absolute;
    margin: 30px 0 0 30px;
    top: 0;
    left: 0;
}
.metrics > p {
    margin: 0;
}
span {
    display: inline-block;
}