html, body {
    margin: 0;
    font-family: 'Courier New';
    background-color: #222222;
}
.noTouch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.title, .sub-title, .item-name, .item-key {
    display: inline;
    margin: 0;
}
.title, .sub-title {
    font-size: 20px;
}
.spacey {
    display: block;
    height: 20px;
}
.title, .item-name {
    color: #ffffff;
    font-weight: bold;
}
.sub-title, .item-key {
    color: #a5a5a5;
    font-style: italic;
}
.item {
    text-decoration: none;
    display: block;
    margin: 35px 0;
}